@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

.text-area{
  resize: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
  margin-left: 5rem;
}
input{
  text-indent: 10px;
}

#logo{
  vertical-align: text-bottom;
}



.btn-custom {
    border-color: #271A2B;
    color: #000;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #271A2B;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
  }
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #271A2B;
  }
  .btn-custom {
    border-color: #271A2B;
    color: #000;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #271A2B;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
  }
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #271A2B;
    color: #fff;
  }
  .slide_right2:hover {
    box-shadow: inset 400px 0 0 0 #716EA7;
    color: #fff;
  }

  #btn-custom2{
    border-color: #716EA7;
    color: #000;
  }

  .purple-section{
    background-color: #716EA7;
    background-image: url(locaation.png);
    background-attachment: fixed;
    background-position:middle;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #btn-custom2:hover{
    background-color: #716EA7;
    color: #fff;
    stroke: #fff;
  }
  .text-purple{
    color: #716EA7;
  }
  .text-dark-purple{
    color: #442D3F;
  }
  .locus-letter{
    font-family: 'Poppins', sans-serif;
  }
  .activee{
    text-decoration: none;
    margin: 4px;
    display: inline-block;
    color: #271A2B;
    padding: 12px;
  }
  .activee::after{
    color: #271A2B;
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #000;
      transition: width .3s;
  }
  .activee:hover::after {   
    color: #271A2B; 
    width: 100%;
  }
  .background-img{
      background-image: url(bg5.svg);
      background-size: cover;      
  }
  .header{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  .bg-purple-dark{
    background-color: #271A2B;
  }
  .hand{
    width: 260px;
    animation: salute 2.5s infinite;
  }

  .nav-masthead{
    display: none;
  }


  @keyframes salute {
    0%   {transform: rotate(0deg);}
    35%  {transform: rotate(-10deg);}
    35%  {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
  }
  @keyframes float {
    0%   {display: block;}
    35%  {transform: translateY(-15%);}
    100% {display: block;}
    100% {display: block;}
  }

  @media (min-width: 900px) {
    .purple-section{
      background-position:top;
    }
    .nav-masthead{
     display: block;
    }
    .bd-placeholder-img-lg {
      font-size: 3.5rem !important;
    }
    .hand{
      width: 400px;
    }
  }