@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Staatliches&display=swap);
:root {
    scroll-behavior: smooth;
    scroll-padding-top: 30px
}

#logo {
    display: flex;
    justify-content: center;
    align-content: center
}

.text-area {
    resize: none
}

pre {
    font-family: Poppins, sans-serif !important
}

.show-on-phone {
    display: block
}

.link {
    color: #fff;
    text-decoration: none;
    list-style: none
}

#button {
    text-decoration: none;
    display: inline-block;
    background-color: #716ea7;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff
}

#button:hover {
    cursor: pointer;
    background-color: #333
}

#button:active {
    background-color: #555
}

#button.show {
    opacity: 1;
    visibility: visible
}

footer {
    height: 100px
}

.link:hover {
    color: #c9c8c5;
    cursor: pointer
}

body {
    font-family: Poppins, sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth
}

.dark-sec {
    background-color: #271a2b;
    color: #fff
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row
}

input {
    text-indent: 10px
}

#FAQ {
    margin-top: 120px
}

.bg-purple {
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(17, 25, 40, .19);
    border: 1px solid rgba(255, 255, 255, .125)
}

.txt {
    font-family: Staatliches, cursive
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease
}


.demoimg{
  animation: demo 15s infinite
}
.demoimg2{
  animation: demo2 15s infinite
}
.demoimg3{
  animation: demo3 15s infinite
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-attachment: fixed;
    background-color: #716ea7;
    display: flex;
    justify-content: center;
    align-items: center
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
    -webkit-animation: loader-inner 2s infinite ease-in
}

@keyframes loader {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

.btn-custom {
    border-color: #271a2b;
    color: #000;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #271a2b;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    transition: ease-out .5s
}

.btn-custom:hover {
    box-shadow: inset 400px 0 0 0 #271a2b;
    color: #fff
}

.btn-custom {
    border-color: #271a2b;
    color: #000;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #271a2b;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    transition: ease-out .5s
}

.slide_right2:hover {
    box-shadow: inset 400px 0 0 0 #716ea7;
    color: #fff
}

#btn-custom2 {
    border-color: #716ea7;
    color: #000
}
.blockquote-footer{
    margin: 0px auto;
}
.purple-section {
    background-color: #716ea7;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain
}

.purple-bg {
    background-color: #716ea7
}
.cards-section-2{
    overflow: hidden;
}
.vh-full {
    height: 100vh
}

#btn-custom2:hover {
    background-color: #716ea7;
    color: #fff;
    stroke: #fff
}

.display-2 {
    margin-bottom: 0
}

.text-purple {
    color: #716ea7;
    font-family: Staatliches, cursive
}

.text-dark-purple {
    color: #442d3f;
    font-family: Staatliches, cursive
}

.locus-letter {
    font-family: Poppins, sans-serif
}

.activee {
    text-decoration: none;
    margin: 4px;
    display: inline-block;
    color: #271a2b;
    padding: 12px
}

.activee::after {
    color: #271a2b;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s
}

.activee:hover::after {
    color: #271a2b;
    width: 100%
}

.activee:hover {
    color: #000
}

.float {
    animation: float 3.5s infinite
}

.float2 {
    animation: float2 3.5s infinite
}

.background-img {
    background-image: url(imgs/bg5.svg);
    background-size: cover
}

.header {
    font-size: 3rem;
    font-family: Poppins, sans-serif;
    font-weight: 700
}

h2.header {
    font-size: 2rem;
    padding: 10px;
    font-family: Poppins, sans-serif;
    font-weight: 700
}

.row-cards {
    display: flex !important
}
body {
    overflow-x: hidden;
}
.projects {
    display: flex;
    height: 30vh;
}
.projects > div {
    position: absolute;
    top: 50%;
    border-radius: 1.75rem;
}

.project{
    padding: 1rem;
    margin: 2px;
}

li {
    list-style: none;
    text-align: initial
}

ul {
    margin: 0;
    padding: 0
}

.text{
    margin: 0.5rem;
    padding: 0.2rem;
}
.bg-purple-dark {
    background-color: #271a2b
}

.hand {
    width: 260px;
    animation: salute 2.5s infinite
}

.look {
    height: 150px
}

.nav-masthead {
    display: none
}

.fa-1x {
    font-size: 1.5rem
}

.navbar-toggler.toggler-example {
    cursor: pointer
}


@keyframes salute {
    0% {
        transform: rotate(0)
    }
    35% {
        transform: rotate(-10deg)
    }
    75% {
        transform: rotate(20deg)
    }
    100% {
        transform: rotate(0)
    }
}

@keyframes float {
    0% {
        display: block
    }
    35% {
        transform: translateY(-25%)
    }
    100% {
        display: block
    }
}

@keyframes float2 {
    0% {
        display: block
    }
    35% {
        transform: translateY(25%)
    }
    100% {
        display: block
    }
}
@keyframes demo {
  0% {
    transform: translate3d(0);
  }
  25%{
    transform: translate3d(12px, -12px, -25px);
  }
  50% {
    transform: translate3d(-1.4rem, 0, 0.5rem);
  }
  75%{
    transform: translate3d(2.5ch, 0.2in, 2.5em);
  }
  100% {
    transform: translate3d(0);
  }
}
@keyframes demo2 {
    0% {
        transform: translate3d(0);
      }
      25%{
        transform: translate3d(12px, -12px, -25px);
      }
      50% {
        transform: translate3d(-1.4rem, 0, 0.5rem);
      }
      75%{
        transform: translate3d(2.5ch, 0.2in, 2.5em);
      }
      100% {
        transform: translate3d(0);
      }
}
@keyframes demo3 {
    0% {
        transform: translate3d(0);
      }
      25%{
        transform: translate3d(12px, -12px, -25px);
      }
      50% {
        transform: translate3d(-1.4rem, 0, 0.5rem);
      }
      75%{
        transform: translate3d(2.5ch, 0.2in, 2.5em);
      }
      100% {
        transform: translate3d(0);
      }
}

@media(max-width:900px) {
    .text{
        padding:0rem;
    }
    .b-devices {
        display: none
    }
    .demoimg{
      animation:none
        }

        .row-cards {
            max-height: 700px;
            max-width: auto;
            display: flex !important;
            overflow-x: auto
        }
        
        .row-cards::-webkit-scrollbar {
            width: 0
        }
        
    .cards {
        min-width: 390px;
        height: 600px;
        margin-right: 2px
    }
    
}

@media (min-width:900px) {
    .margin-200 {
        margin-bottom: 0
    }
    .purple-section {
        background-position: top
    }
    .nav-masthead {
        display: block
    }
    .bd-placeholder-img-lg {
        font-size: 3.5rem !important
    }
    .hand {
        width: 400px
    }
    .look {
        height: 200px
    }
    .show-on-phone {
        display: none
    }
}